@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;600&display=swap');

body {
  font-family: "Sarabun", sans-serif;
  background-color: #F9F9F9;
}

.sarabun-thin {
    font-family: "Sarabun", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .sarabun-extralight {
    font-family: "Sarabun", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .sarabun-light {
    font-family: "Sarabun", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .sarabun-regular {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sarabun-semibold {
    font-family: "Sarabun", sans-serif;
    font-weight: 600;
    font-style: normal;
  }